.list-group-item {
  text-align: left;
  padding: .25rem !important;
  padding-left: .5rem !important;
}

.list-group-item span {
  float: right;
  margin-right: .5rem;
}

.card {
  margin-top: 2rem;
}

.container {
  margin-bottom: 5rem;
}

.jumbotron {
  padding: 2rem 1rem;
}

.rounded-circle {
  margin: 0 auto;
  max-height: 10rem;
  max-width: 10rem;
  padding: 1rem;
  object-fit: cover;
  object-position: top;
}

.list-group-item-action {
  border-radius: 0 4px 4px 0 !important;
  background-color: rgb(40, 167, 49);
  color: rgb(255, 255, 255);
}

.btn-enlang {
  background: url('https://images.unsplash.com/photo-1494419470281-65c2b001a42b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: center;
  opacity: .5;
  border: 1px solid #fff;
}

.btn-rolang {
  background: url('https://images.unsplash.com/photo-1524464790303-b7f467781d29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: center;
  opacity: .5;
  border: 1px solid #fff;
}

.btn-rolang a,
.btn-enlang a {
  color: transparent;
  font-weight: 600;
}

.lang-active {
  opacity: 1;
}